/*
@Author: ThemeMascot
@URL: http://ThemeMascot.com

*/

/* Your Preloader css codes start here: */

/*
 * 2.0 -> Preloader
 * -----------------------------------------------
*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  	background-color: transparent;
    z-index: 9999;
}
#spinner {
    display: block;
    position: relative;
    left: 46%;
    top: 46%;
  	width: 100px;
  	height: 100px;
}
#preloader #disable-preloader {
    display: block;
    position: absolute;
    right: 30px;
    bottom: 30px;
}