/*
** Base CSS
**/
/* begin Headings, body, etc */
html, body, p{
  line-height: 1.5em;
}
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
}
a {  
  text-decoration: none;
}
a:hover,
a:focus {
  color: #a07936;
  text-decoration: none;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small,
.h1 small,
.h2 small,
.h3 small,
.h4 small,
.h5 small,
.h6 small,
h1 .small,
h2 .small,
h3 .small,
h4 .small,
h5 .small,
h6 .small,
.h1 .small,
.h2 .small,
.h3 .small,
.h4 .small,
.h5 .small,
.h6 .small{
  color: #000000;
}
h1,
.h1 {
  font-size: 20px;
  color: #202020;
  font-weight: normal;
}
h2,
.h2 {
  font-size: 24px;
  color: #202020;
  font-weight: normal;
}
h3,
.h3 {
  font-size: 20px;
  color: #808080;
  font-weight: normal;
}
h4,
.h4 {
  font-size: 16px;
  color: #808080;
  font-weight: normal;
}
h5,
.h5 {
  font-size: 20px;
  color: #000000;
  font-weight: normal;
}
h6,
.h6 {
  font-size: 20px;
  color: #000000;
  font-weight: normal;
}
blockquote small {
  color: #000000;
}
.alert{
  border-radius: 0;
}
.alert-success {
  background-color: #01a8d5;
  border-color: #01a8d5;
  color: #f2f6ec;
}
.alert-danger{
  background-color: #f55856;
  border-color: #f55856;
  color: #fff0f0;
}
/* end Headings, body, etc */

/* begin Tables */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-top-color: #ebebeb;
}
.table > thead > tr > th {
  border-bottom-color: #ebebeb;
}
table thead th,
table thead td{
  background-color: #ebebeb;
  color: #202020;
}
.table > tbody + tbody {
  border-top-color: #ebebeb;
}
.table .table {
  background-color: #ffffff;
}
.table-bordered {
  border-color: #ebebeb;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border-color: #ebebeb;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #ebebeb;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #fafafa;
}
/* end Tables */

/* begin Forms */
.form-control {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #000000;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #dedede;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  margin-bottom: 3px;
}
.form-control:focus {
  border-color: #818080;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.form-control:-moz-placeholder {
  color: #b4b4b4;
}
.form-control::-moz-placeholder {
  color: #b4b4b4;
}
.form-control:-ms-input-placeholder {
  color: #b4b4b4;
}
.form-control::-webkit-input-placeholder {
  color: #b4b4b4;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  background-color: #eeeeee;
}
.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
  color: #f55856;
}
.has-error .form-control {
  border-color: #f55856;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-error .form-control:focus {
  border-color: #f55856;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
  color: #f2f6ec;
}
.has-success .form-control {
  border-color: #01a8d5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.has-success .form-control:focus {
  border-color: #01a8d5;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* end Forms */
/*
** end Base CSS
**/

/*
** begin Plugins
**/
/* begin Tooltips*/
.tooltip-inner {
  max-width: 200px;
  padding: 6px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #cf132c;
  font-size: 10px;
  border-radius: 0;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #cf132c;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #cf132c;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #cf132c;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #cf132c;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #cf132c;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #cf132c;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #cf132c;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #cf132c;
}

/* end Tooltips*/
/* begin Dropdown */
.dropdown-menu {
  background-color: #ffffff;
  border: 1px solid #ebebeb;
  color: #000000;
  width:100%;
}
.dropdown-menu:before{
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ebebeb;
  position: absolute;
  top: -7px;
  left: 9px;
}
.dropdown-menu:after{
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 10px;
}
.dropdown, 
.dropdown-toggle{
  position: relative;
}
.dropdown .sub-dropdown,
.dropdown-toggle .sub-dropdown,
.dropdown .sub-dropdown1,
.dropdown-toggle .sub-dropdown1{
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.dropdown .sub-dropdown,
.dropdown-toggle .sub-dropdown{
  padding-bottom: 20px;
  z-index: 1;
  cursor: default;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.dropdown .sub-dropdown1,
.dropdown-toggle .sub-dropdown1{
  z-index: 2;
  cursor: pointer;
}
.open>.dropdown-menu{
  display: block!important;
}
/* end Dropdown */
/*
** end Plugins
**/