/* 
* BASIC STYLE
  - General Style    
  - Headings Style    
  - Button Style    
  - Form Style    
  - Spacer Style
      
* HEADER 
  - Header Style
  - Navigation Menu Style
  - Megamenu Style

* CONTANT
  - Banner Style
  - Bread-crumb
  - Sub-banner
  - Product Box
  - Site Services Features Block
  - Special Product Block
  - Custom News Letter
  - Testimonial
  - Blog
  - Brand-Logo
  - Sidebar
  - Sorting
  - Product Detail Page
  - Cart Page
  - Checkout Page
  - Login Register Page
  - Account Page
  - Blog Page
  - About Page
  - 404 Page
  - Contact Page

* FOOTER

/*

/*_______________________________________________________
// BASIC STYLE  //----------------------------
_______________________________________________________*/


/* - General Style //---------------- */ 

@import url('https://fonts.googleapis.com/css?family=Courgette|Poppins:700|Roboto:400,400i,700,900');

::-moz-selection {
    background-color: #f5b555;
    color: #FFF;
}

::selection {
    background-color: #f5b555;
    color: #FFF;
}

.overlay {
   position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #f5b555;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.text {
  white-space: nowrap; 
  color: #2a2931;
  font-size: 16px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
	  /* text-shadow: 1px 1px #2a2931; */

}
.gcontainer:hover .overlay {
  bottom: 0;
  height: 100%;
		opacity: 0.9;

}
 a:hover {
        color: #2a2931;
        text-decoration: none;
        transition: all 0.25s ease 0s;
        -moz-transition: all 0.25s ease 0s;
        -webkit-transition: all 0.25s ease 0s;
        -o-transition: all 0.25s ease 0s;
    }
.gcontainer {
  position: relative;
  width: 100%;
 }
a {
    cursor: pointer;
    text-decoration: none;
    color: #878787;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}
#lightbox .modal-content {
    display: inline-block;
    text-align: center;   
}

#lightbox .close {
    opacity: 1;
    color: rgb(255, 255, 255);
    background-color: rgb(25, 25, 25);
    padding: 5px 8px;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    position: absolute;
    top: -15px;
    right: -55px;
    
    z-index:1032;
}