
.top-buffer {
  margin-top: 20px;
}
.chng-pagination {
  float: right;
  width: inherit;
}
.chng-pagination > li > a, .chng-pagination > li > span{
	color: #a07936;
}


[name='filter-tags'] span {
    border: 1px solid #DDD;
    display: inline-block;
    color: #717171;
    background: #FFF;
    -webkit-box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    box-shadow: 0 1px 1px 0 rgba(180, 180, 180, 0.1);
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
    border-radius: 2px;
    margin: 0 3px 6px 0;
    padding: 5px 10px;
    font-size: 15px;
}

[name='filter-tags'] [data-role="remove"] {
  margin-left: 8px;
  font-style: normal;
  cursor: pointer;
}
[name='filter-tags'] [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
[name='filter-tags'] [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
[name='filter-tags'] [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.ab-theme-color {
    color: #fff!important;
    background-color: #a07936!important;
    border-color: #a07936!important;
}

.register-section {
    background: url(../images/bg/register-bg.jpg);
    height: 100%;
}

.register-section .control-label , .register-section #page-header {
    color:#fff!important;  
    padding-left:0!important;  
}
.register-section a{
  color:#fff;
  font-weight: inherit;
}
.register-section .action-last {
  padding-bottom: 22px  
}
.register-section .action-last .btn {
    border-color: #a07936!important;
    background: #a07936!important;
    color: #ffffff!important;

}
/*.
.register-section .action-last .btn:hover {
    border-color: #a07936!important;
    background: #a07936!important;
    color: #ffffff!important;
}*/

.register-section .register-page {
  background: rgb(0, 0, 0);
}

.register-section #register-form {
  margin-bottom: 0!important;
} 
.register-section .form-control {
    width:100%!important;
    color: #fff!important;
    /*background-color: rgba(0, 0, 0, 0.69)!important;*/
    background-color: #1e1e1e!important;
    border: none!important;
}

.hr-dotted {
  border-color: #a07936!important;
  border-top: dashed 1px;
}

/*body .otp-modal{
     new custom width 
    width: 662px!important;
}*/

.logged-user {
  text-transform: none;
}

/*.modal-content .price_sale{
  font-size: 20px!important;
}

.modal-content .price_compare{
  color:#382e2e!important;
  font-size: 15px!important;
  margin-left: 7px!important;
}*/

.abharan-compare span.price_sale{
    font-size: 18px!important;
    line-height: 11px!important;
    font-weight: 700!important;
    color: #a07936!important;
    zoom: 1!important;
}

.abharan-compare del.price_compare{
  margin-left: 7px!important;
  font-size: 15px!important;
  padding-top: 10px!important;
  text-decoration: line-through!important;
  /*font-size: 12px!important;*/
  line-height: 12px!important;
  font-weight: 400!important;
  display: inline-block!important;
  zoom: 1!important
}

/*.megamenu-container-1 .sub-mega-menu {
  background: #ffffff; 
  background: #ffffff url(../images/bg/register-bg.jpg) no-repeat center bottom; 
}*/
.list-title-a {
  color: #000000!important;
  font-size: 14px!important;  
}

.abh-my-account {
  width: 100px!important;
  z-index:10000;
}

.block-btns .btn {
  width: 100%!important;
  display: block;
}

.radio {
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}
.radio input[type="radio"] {
    opacity: 0;
}
.radio input[type="radio"]:focus + label::before {
    outline: none;
    /*outline: 5px auto -webkit-focus-ring-color;*/
    /*outline-offset: -2px;*/
}
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}
.radio input[type="radio"]:disabled + label {
    opacity: 0.65;
}
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed;
}
.radio.radio-inline {
    margin-top: 0;
}
.radio-primary input[type="radio"] + label::after {
    background-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::before {
    border-color: #428bca;
}
.radio-primary input[type="radio"]:checked + label::after {
    background-color: #428bca;
}
.radio-danger input[type="radio"] + label::after {
    background-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::before {
    border-color: #d9534f;
}
.radio-danger input[type="radio"]:checked + label::after {
    background-color: #d9534f;
}
.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de;
}
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de;
}

.radio-abharan input[type="radio"] + label::after {
    background-color: #a27c3f;
}

.radio-abharan input[type="radio"]:checked + label::before {
    border-color: #a07c69;
}

.radio-abharan input[type="radio"]:checked + label::after {
    background-color: #a27c3f;
}

.radio-warning input[type="radio"] + label::after {
    background-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::before {
    border-color: #f0ad4e;
}
.radio-warning input[type="radio"]:checked + label::after {
    background-color: #f0ad4e;
}
.radio-success input[type="radio"] + label::after {
    background-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::before {
    border-color: #5cb85c;
}
.radio-success input[type="radio"]:checked + label::after {
    background-color: #5cb85c;
}

.abharan-panel-head {
   color: #a2835b;
  background-color: #f2e4cc;
}

/*.owl-item {
  width:100px!important;
}*/
.owl-item {
    -webkit-backface-visibility: hidden!important;
    -webkit-transform: translateZ(0) scale(1.0, 1.0)!important;
}

.owl-carousel .category_item {
  padding-left: 14px;
  padding-right: 14px;
}

.def-height {
  height: 110px!important;
}

.weekly-width {
  width:24%;
}

.weekly-width img {
  width:80%;
}

/*[name="ord_history"] .image {
  width:15%;
}*/

.cart-items tr td.title-1 {
  font-size: 16px;
}
.cart-items  tr td {
  text-align: left;
}
.cart-items tfoot tr td.title-1 {
  font-size: 20px;
}
.cart-items p.money {
  font-size: 20px;
}

.cart-items .action button {
  margin-top: -10px;
}

.cart-items .item-img img {
  margin-top: -25px;
}


@media (max-width: 600px){
  .megamenu-container-1 .sub-mega-menu {
  background: #fff;
  }  
  #preloader {
    left:-40px!important;
  }
}

.affix.animated {
  border-bottom: 1px solid #232323;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .back_pin .dance-img {
      margin: 0 auto;
  }
  .home-blog .news-banner {
      margin: 0 auto;
  }
  .back_pin {
      /*background: beige;*/
      background: url(../images/bg/A_bg.png) no-repeat center;
      /*background:#fda591 !important;*/
      width: 100%;
      min-height: 500px;
      background-repeat: no-repeat;
      background-position: 50% 80%;
      background-size: 462%;
  }
}

.non-italic {
  font-style: normal;
}

[name="certification"] {
 width: 180px;
}

@media (min-width: 768px) {
  .new-modal-width {
    width: 40%;
  }
  .top-navigation ul li.navigation {
    width:72%;
  }
}
/*@media (min-width: 1024px) and (max-width: 1366px) {

}*/

.chg-back_pin {
  background: url(../images/scheme-collections/bg.jpg) no-repeat center;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: 50% 80%;
  background-size: 2000%;
}

.parsley-errors-list {
  font-size: 0.9em!important;
  line-height: 0.9em!important;
  color: #F00!important;
}

.parsley-errors-list li {
 list-style: none!important; 
}