html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    margin: 0;
    padding: 0;
    min-height: 800px;
}
a {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    outline: none !important;
}
a:hover {
    color: #222;
}
img {
    max-width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
    padding: 0;
    color: #555;
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    color: #353535;
}
/* jose alukkas main style starts here */

.section-wrapper {
    width: 100%;
    /*float: left;*/
    
    clear: both;
}
.headerSection {
    min-height: 55px;
    background-color: #fff;
    position: relative;
    z-index: 50;
    float: left;
    width: 100%;
    box-shadow: 0px 2px 40px 6px rgba(0, 0, 0, 0.35);
}
.ContainerFull {
    padding: 0px 20px;
    width: 100%;
    float: left;
}
.LogoWrapper {
    margin-top: 16px;
    display: inline-block;
}
.HeaderHelpdsk-Wrapper {
    margin: 13px 45px 0px 45px;
    color: #97154b;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}
.HeaderHelpdsk-Wrapper span {
    font-size: 10px;
    color: #6c6c6c;
    clear: both;
    display: block;
}
.RateChange-Wrapper {
    padding-left: 35px;
    padding-right: 10px;
    position: relative;
    float: left;
    margin-top: 16px;
    padding-bottom: 15px;
    margin-bottom: 0px;
    margin-right: 40px;
}
.RateChange-Wrapper::after {
    content: "\f0d7";
    font-family: FontAwesome;
    position: absolute;
    right: -9px;
    top: 0px;
    color: #97154b;
}
.CurrCode {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    color: #bb2775;
}
.CurrCode::before {
    content: '';
    width: 23px;
    height: 15px;
    position: absolute;
    left: 4px;
    top: 4px;
    background-color: #97154b;
}
.RateChange_list .CurrCode::before {
    left: 12px;
    top: 10px;
}
.contr-india::before {
    background: url("../images/sprites-small.png") no-repeat -3px -3px;
}
.contr-australia::before {
    background: url("../images/sprites-small.png") no-repeat -33px -3px;
}
.contr-british::before {
    background: url("../images/sprites-small.png") no-repeat -64px -3px;
}
.contr-singapore::before {
    background: url("../images/sprites-small.png") no-repeat -93px -3px;
}
.contr-euro::before {
    background: url("../images/sprites-small.png") no-repeat -123px -3px;
}
.contr-uae::before {
    background: url("../images/sprites-small.png") no-repeat -3px -23px;
}
.contr-canada::before {
    background: url("../images/sprites-small.png") no-repeat -32px -23px;
}
.contr-usa::before {
    background: url("../images/sprites-small.png") no-repeat -63px -23px;
}
.curr_chngr_ico {
    font-size: 10px;
}
.RateChange_list {
    width: 117px;
    background-color: #f5f5f5;
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 50;
    margin-top: 17px;
    pointer-events: none;
    opacity: 0;
    visible: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
}
.RateChange_list li {
    width: 100%;
    padding: 5px 0px;
    padding-left: 45px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.RateChange_list li:hover {
    background-color: #dddddd;
}
.RateChange-Wrapper:hover {
    cursor: pointer;
}
.RateChange-Wrapper:hover .RateChange_list {
    pointer-events: auto;
    cursor: pointer;
    opacity: 1;
    margin-top: 0px;
    visible: visible;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
}
.ja_tp_crtlnk {
    background-color: #973c62;
    border-bottom: solid 3px #ba3b71;
    width: 57px;
    height: 55px;
    position: relative;
    display: block;
    float: left;
}
a:hover {
    cursor: pointer;
}
.ja_cart_icon_tp {
    position: absolute;
    color: #fff;
    left: 50%;
    top: 50%;
    font-size: 22px;
    margin-left: -12px;
    margin-top: -10px;
}
.crt_val_circle {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #f7dbb4;
    text-align: center;
    border-radius: 50%;
    color: #333;
    font-size: 14px;
    position: absolute;
    left: 27px;
    top: 8px;
    line-height: 18px;
    white-space: nowrap;
}
.ja_tp_location_lnk {
    background-color: #fff;
    width: 57px;
    height: 55px;
    position: relative;
    display: block;
    float: left;
    margin-right: 15px;
}
.ja_tp_location_lnk::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 100%;
    left: -50%;
    background-color: #fbd8a7;
    color: #333;
    width: 105px;
    text-align: center;
    padding: 6px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_wlst_lnk::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: -15px;
    z-index: 50;
    background-color: #973c62;
    color: #fff;
    width: 80px;
    font-weight: 400;
    text-align: center;
    padding: 6px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 9px;
    text-transform: uppercase;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_wlst_lnk:hover::before {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.ja_wlst_lnk::after {
    content: '';
    position: absolute;
    bottom: 30px;
    margin-left: -6px;
    left: 50%;
    transform: rotate(180deg);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #973c62;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_tp_location_lnk::after {
    content: '';
    position: absolute;
    bottom: 0px;
    margin-left: -6px;
    left: 50%;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fbd8a7;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_tp_location_lnk:hover::before {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.ja_tp_location_lnk:hover::after {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.ja_wlst_lnk:hover::after {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.ja_loc_icon_tp {
    position: absolute;
    color: #97154b;
    left: 50%;
    top: 50%;
    font-size: 22px;
    margin-left: -12px;
    margin-top: -12px;
}
.ja_tp_sin_supwrap {
    float: left;
    padding: 16px 0px 0px 0px;
}
.ja_tp_sin_sup_lnk {
    color: #83264d;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 3s;
    -webkit-transition: all 3s;
    -o-transition: all 3s;
    -moz-transition: all 3s;
}
.ja_tp_sin_sup_lnk:hover {
    color: #000;
}
.ja_tp_sin_sup_lnk + .ja_tp_sin_sup_lnk {
    padding-left: 22px;
    position: relative;
}
.ja_tp_sup_btn::before {
    content: '';
    width: 1px;
    background-color: #83264d;
    height: 10px;
    position: absolute;
    left: 8px;
    top: 3px;
}
.ja_srch_wrapper {
    width: 490px;
    float: right;
    margin-top: 8px;
    padding-right: 65px;
    position: relative;
    border: solid 2px #e3e3e3;
    overflow: hidden;
}
.top_search_input {
    width: 100%;
    float: left;
    border: none;
    height: 35px;
    padding: 0px 10px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 12px;
    color: #555;
    outline: none;
}
.search_btn {
    width: 65px;
    height: 100%;
    position: absolute;
    right: 0px;
    background-color: #fbd8a7;
    text-align: center;
    border: none;
}
.search_btn::after {
    content: "\e910";
    font-family: 'icomoon' !important;
    color: #fff;
    font-weight: bold;
}
.top_search_input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    
    color: #888;
}
.top_search_input::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #888;
}
.top_search_input:-ms-input-placeholder {
    /* IE 10+ */
    
    color: #888;
}
.top_search_input:-moz-placeholder {
    /* Firefox 18- */
    
    color: #888;
}
.ja_hm_bnr_slider_wrapper {
    width: 100%;
    float: left;
    position: relative;
}
.ja_hm_bnr_item_inner {
    position: relative;
    width: 100%;
    float: left;
    padding-bottom: 62px;
}
.ja_hm_bnr_item_img {
    display: block;
}
.ja_hm_bnr_itm_oversec {
    position: absolute;
    padding: 0px 10px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(146, 47, 103, 0);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.ja_hm_bnr_item_inner:hover .ja_hm_bnr_itm_oversec {
    background-color: rgba(146, 47, 103, 0.5);
}
.ja_hm_bnr_item_inner:hover .ja_hm_bnr_itm_over_inner {
    opacity: 1;
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
}
.ja_hm_bnr_itm_over_inner {
    position: absolute;
    opacity: 0;
    margin-top: -120px;
    top: 50%;
    padding: 0px 65px;
    width: 100%;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
    /* transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  -moz-transform:translate(-50%,-50%); */
}
.ja_hm_bnr_txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: #f5eab9;
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
}
.ja_hm_bnr_txt span {
    font-size: 10px;
    display: block;
    clear: both;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}
.ja_hm_bnr_shpnw_btn {
    display: table;
    margin: 0 auto;
    width: 104px;
    height: 38px;
    border: solid 1px #af8479;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 38px;
    white-space: nowrap;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_hm_bnr_shpnw_btn:hover {
    color: #fff;
    background-color: #97154b;
}
.ja_bnr_btm_txtwrapper {
    width: 100%;
    padding: 15px 20px;
    position: absolute;
    left: 0;
    bottom: 0;
    min-height: 85px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_bnr_btm_txtwrapper::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #f5ecc4;
    position: absolute;
    left: 45px;
    top: -8px;
}
.ja_yellowshade1::before {
    border-bottom: 8px solid #f5ecc4;
}
.ja_yellowshade2::before {
    border-bottom: 8px solid #fbd8a7;
}
.ja_yellowshade3::before {
    border-bottom: 8px solid #fbcf91;
}
.ja_yellowshade4::before {
    border-bottom: 8px solid #fac77f;
}
.ja_yellowshade5::before {
    border-bottom: 8px solid #ffc471;
}
.ja_yellowshade1 {
    background-color: #f5ecc4;
}
.ja_yellowshade2 {
    background-color: #fbd8a7;
}
.ja_yellowshade3 {
    background-color: #fbcf91;
}
.ja_yellowshade4 {
    background-color: #fac77f;
}
.ja_yellowshade5 {
    background-color: #ffc471;
}
.ja_hm_bnr_itm_txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #000;
    text-transform: uppercase;
}
.ja_hm_bnr_itm_txt span {
    display: block;
    width: 100%;
    float: left;
    font-weight: 800;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.navigation_wrapper {
    float: left;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_navbar {
    float: left;
    height: 50px;
    background-color: #fff;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_nav_lst {
    list-style: none;
    float: left;
}
.ja_nav_lst > li {
    float: left;
}
.ja_nav_lst > li > a {
    padding: 16px 20px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_nav_lst > li > a:hover {
    color: #973c62;
}
.ja_navbar_collapseico {
    font-size: 28px;
    position: relative;
    top: 13px;
}
.meganav_trigger {
    position: relative;
    top: 13px;
    display: block;
}
.ja_hmbnr_thumbnav_lst {
    position: absolute;
    left: 50%;
    bottom: 90px;
    margin-left: -128px;
    z-index: 50;
    list-style: none;
}
.ja_hmbnr_thumbnav_lst li {
    float: left;
}
.ja_hmbnr_thumbnav_lst li a {
    width: 50px;
    height: 37px;
    display: block;
    position: relative;
    border: solid 1px transparent;
}
.ja_bnr_thumbnav_imgwrap img {
    filter: saturate(0%);
    -webkit-filter: saturate(0%);
    -moz-filter: saturate(0%);
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_hmbnr_thumbnav_lst li a:hover .ja_bnr_thumbnav_imgwrap img {
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
    -moz-filter: saturate(100%);
}
.ja_hmbnr_thumbnav_lst li a::before {
    position: absolute;
    margin-top: 0px;
    content: attr(data-tooltip);
    top: -30px;
    opacity: 0;
    pointer-events: none;
    z-index: 5;
    left: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    color: #fff;
    font-weight: 400;
}
.ja_hmbnr_thumbnav_lst li.active a::before {
    top: -18px;
    opacity: 1;
}
.ja_hmbnr_thumbnav_lst li.active a .ja_bnr_thumbnav_imgwrap img {
    filter: saturate(100%);
    -webkit-filter: saturate(100%);
    -moz-filter: saturate(100%);
}
.ja_hmbnr_thumbnav_lst li.active a {
    border: solid 1px #fff;
}
.ja_nav_angelico {
    color: #97154b;
    font-size: 17px !important;
    position: relative;
    left: 7px;
}
.ja_nav_sec {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}
.ja_nav_sec.fixnav {
    position: fixed;
    z-index: 999;
    top: -50px;
    left: 0px;
    right: 0px;
    background-color: #fff;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transform: translateY(50px);
}
/* .ja_nav_sec.fixnav .ja_nav_lst > li > a{
    font-weight:400;
    font-size:10px;

}

.ja_nav_sec.fixnav .ja_mega_nav{
    display:none;
}
 */

.ja_hm_gld_rate_wrapper {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 200px;
    background-color: #fff;
    z-index: 50;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_hm_gld_rate_hd {
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #973c62;
    font-size: 16px;
    text-transform: uppercase;
    margin: 15px 0px;
}
.ja_hm_gld_rate_hd span {
    font-size: 11px;
    text-align: center;
    display: block;
    clear: both;
    color: #888;
    font-weight: 400;
}
.ja_gld_rate_lst {
    width: 100%;
    float: left;
    list-style: none;
}
.ja_gld_rate_lst li {
    width: 100%;
    float: left;
    padding: 8px 0px;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #555;
    background-color: #f5f5f5;
    margin: 1px 0px;
}
.ja_gldratwrapper_trigger {
    width: 90px;
    height: 95px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 50;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_gldratwrapper_trigger:hover {
    opacity: 0;
}
.ja_gldratwrapper_trigger:hover ~ .ja_hm_gld_rate_wrapper {
    opacity: 1;
    pointer-events: none;
    visibility: visible;
}
.ja_gldratwrapper_trigger::after {
    content: '';
    width: 0;
    right: 0px;
    position: absolute;
    top: 0px;
    height: 0;
    border-top: 0px solid transparent;
    border-bottom: 85px solid transparent;
    border-right: 85px solid #ffffff;
}
.ja_gldratwrapper_trigger::before {
    content: '';
    position: absolute;
    width: 58px;
    right: 0px;
    height: 60px;
    z-index: 50;
    top: 0px;
    background: transparent url(../images/gold-rate-icon.png) no-repeat 0px 0px;
}
/* mega nav section */

.ja_meganav_wrapper {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: 100%;
    height: 430px;
    margin-top: -480px;
    background-color: #fff;
    position: absolute;
    left: 0px;
    z-index: 50;
    overflow: hidden;
    display: block;
    padding: 25px 460px 25px 25px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_meganav_wrapper.meganav_show {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.ja_meganav_imgwrap {
    position: absolute;
    right: 0px;
    top: 0px;
}
.ja_meganav_heading {
    width: 100%;
    float: left;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: solid 1px #cccccc;
}
.ja_meganav_heading > a {
    color: #333;
}
.ja_meganav_heading span {
    font-weight: 700;
}
.ja_megnav_innerlst_wrap {
    width: 100%;
    float: left;
}
.ja_meganav_sub_heading {
    width: 100%;
    float: left;
    color: #d4667f;
    font-size: 13px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.ja_megnav_lnklst {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.ja_megnav_lnklst li {
    width: 100%;
    float: left;
}
.ja_megnav_lnklst li a {
    color: #444;
    font-size: 12px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    padding: 3px 0px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_megnav_img_wrap {
    border: solid 2px #d27ca1;
    display: block;
    margin-bottom: 20px;
}
.ja_megnav_img_wrap.no_border {
    border: none;
}
.ja_megnav_lnklst li a:hover {
    color: #d4667f;
}
.ja_giftcard_navlst {
    float: right;
    margin: 14px 0px;
}
.ja_giftcard_navlst li {
    float: left;
}
.ja_giftcard_navlst li a {
    padding: 10px 25px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.ja_wishlist_icon_tp {
    position: absolute;
    color: #f00;
    left: 50%;
    top: 50%;
    font-size: 22px;
    margin-left: -12px;
    margin-top: -10px;
}
.wshlst_val_circle {
    background-color: #973c62;
    color: #fff;
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: 3px;
    top: 3px;
    font-weight: 400;
}
.ja-icon-payment {
    position: absolute;
    left: -8px;
    top: 5px;
    font-size: 25px;
    color: #ff8c77;
}
.ja-icon-giftcard {
    width: 25px;
    height: 20px;
    position: relative;
    color: #fff;
    z-index: 50;
    font-size: 16px;
    text-align: center;
    left: 7px;
    top: 6px;
}
.gft_icon_circle {
    position: absolute;
    left: -10px;
    top: 3px;
    background-color: #973c62;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* Show in Large desktops and laptops */

@media (min-width: 1200px) {
    .ja_latest_sec {
        position: relative;
        padding: 30px 0px;
        z-index: 50;
        width: 100%;
        background: url("../images/home_banner_sub_cat.png") no-repeat right center;
    }
    .ja_latest_sec::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        opacity: 0.5;
        z-index: -1;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f6f6f6+42,dbdbdb+100 */
        
        background: #f9f9f9;
        /* Old browsers */
        
        background: -moz-linear-gradient(top, #f9f9f9 0%, #f6f6f6 42%, #dbdbdb 100%);
        /* FF3.6-15 */
        
        background: -webkit-linear-gradient(top, #f9f9f9 0%, #f6f6f6 42%, #dbdbdb 100%);
        /* Chrome10-25,Safari5.1-6 */
        
        background: linear-gradient(to bottom, #f9f9f9 0%, #f6f6f6 42%, #dbdbdb 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#dbdbdb', GradientType=0);
        /* IE6-9 */
    }
}
/*Hide in Other Small Devices */
/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
    .ja_latest_sec {
        background-image: none;
    }
}
/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
    .ja_latest_sec {
        background-image: none;
    }
}
/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
    .ja_latest_sec {
        background-image: none;
    }
}
/* Portrait phones and smaller */

@media (max-width: 480px) {
    .ja_latest_sec {
        background-image: none;
    }
}
.ja_latestsec_inner {
    padding: 0px 80px;
}
.ja_head_common {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #353535;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.ja_head_common span {
    font-weight: 300;
}
.ja_head_bottom_des {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    color: #929292;
    text-transform: uppercase;
    padding: 0px 52px;
}
.ja_head_line {
    position: relative;
}
.ja_head_line::after {
    content: '';
    width: 54px;
    height: 2px;
    background-color: #e1a93c;
    position: absolute;
    bottom: -15px;
    left: 50%;
    margin-left: -27px;
}
.ja_latest_sec .ja_head_bottom_des {
    margin-bottom: 60px;
}
.ja_latest_cir_lst {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.ja_latest_cir_lst {
    list-style: none;
    text-align: center;
    margin-bottom: 50px;
}
.ja_latest_cir_lst li {
    display: inline-block;
    padding-top:24px;
}
.ja_latest_cir_lst li a {
    display: block;
    width: 102px;
    height: 102px;
    position: relative;
    background-color: #242424;
    border-radius: 50%;
    margin: 0px 27px;
}
.ja_latest_cir_lst li a {
    color:#404040;
}
.ja_latest_cir_lst li.active a:hover{
    font-style: bold;
    color:black;
    font-size: 110%;
}

.ja_latest_cir_lst li a::after {
    content: '';
    width: 116px;
    height: 116px;
    /* border: dotted 2px #d27ca1;*/
    
    border: dotted 2px #171415;
    position: absolute;
    left: -7px;
    top: -7px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_latest_cir_lst li a:hover {
    background-color: #eaeaea;
}
.ja_latest_cir_lst li.active a {
    background-color: #242424;
}
.ja_latest_cir_lst li.active a:hover {
    background-color: #e0d7d7;
}
.ja_latest_cir_lst li a:hover::after {
    opacity: 1;
}
.ja_latest_slider_icons {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_latest_cir_lst li a:hover .ja_latest_slider_icons {
    color: #fbc579;
}
.ja_latest_cir_lst li.active a::after {
    opacity: 1;
}
.ja_latest_cir_lst li.active a .ja_latest_slider_icons {
    color: #fbc579;
}
.ja_latest_slider_icons {
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 52px;
    /*padding: 12px 0px 3px 0px;*/
    padding: 0px 0px 10px 0px;
}
.ja_latest_cir_txt {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    color: #8a8686;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
.ja_latest_sliderwrapper {
    width: 100%;
    float: left;
    margin-bottom: 110px;
}
.test_div {
    width: 100%;
    min-height: 300px;
    float: left;
    background-color: #ddd;
}
/* latest carrosle starting */

.ja_latest_carr_captionwrap {
    position: absolute;
    right: 0px;
    top: 55px;
    width: auto;
    text-align: left;
    max-width: 400px;
    left: auto;
    opacity: 0;
    transition: all 0.6s;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    -moz-transition: all 0.6s;
}
.ja_carr_bnr_txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #383838;
    text-transform: uppercase;
    text-shadow: none;
    font-weight: 700;
}
.ja_carr_bnr_txt span {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #d27ca1;
    display: block;
    clear: both;
    padding: 10px 0px;
}
.ja_latest_carr_shpnw_btn {
    color: #d280a4;
    text-shadow: none;
    border: solid 1px #d280a4;
    float: left;
}
/* carrosle fade effect style */

.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
/* carrosle fade effect style */

.ja_carr_indicators {
    bottom: -25px;
}
.ja_large_container {
    max-width: 1295px;
    margin-right: auto;
    margin-left: auto;
}
.ja_hm_listing_inner {
    width: 100%;
    float: left;
    background-color: #fff;
    padding: 45px;
    margin-top: -100px;
    min-height: 500px;
    position: relative;
    z-index: 50;
    margin-bottom: 30px;
}
.ja_listing_filternav_lst {
    float: left;
}
.ja_listing_filternav_lst li {
    float: left;
}
.ja_listing_filternav_lst li a {
    padding: 10px 11px;
    color: #5c5c5c;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_listing_filternav_lst li a:hover {
    color: #242424;
}
.ico_lft_align {
    width: 14px;
    height: 12px;
    background: rgba(0, 0, 0, 0) url(../images/sprites-small.png) no-repeat -2px -43px;
    position: relative;
    display: block;
    top: -15px;
}
.ja_prd_lstthumb_inner {
    width: 100%;
    float: left;
    position: relative;
}
.ja_prd_img_thumb {
    display: block;
    width: 100%;
    float: left;
    position: relative;
    z-index: 50;
    background-color: #f6f6fc;
    overflow: hidden;
}
.ja_prd_img_thumb img {
    display: block;
    margin: 0 auto;
}
.ja_prd_img_thumb:hover {
    cursor: pointer;
}
.ja_prd_img_thumb::before {
    content: '';
    background-image: url("../images/prd_thumb_bg_img_top.png");
    background-position: top center;
    width: 100%;
    min-height: 145px;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.ja_prd_img_thumb::after {
    content: '';
    background-image: url("../images/prd_thumb_bg_img_bottom.png");
    background-position: top center;
    width: 100%;
    height: 145px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: -1;
}
.ja_prd_thumb_name {
    width: 100%;
    float: left;
    text-align: center;
    color: #474747;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.ja_prd_mdl_number {
    font-weight: 300;
    position: relative;
    padding-left: 15px;
}
.ja_prd_mdl_number::before {
    content: '';
    width: 5px;
    height: 1px;
    background-color: #353535;
    position: absolute;
    left: 4px;
    top: 6px;
}
.ja_prd_rate_thumb {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #000;
    font-weight: 700;
    text-align: center;
    display: table;
    margin: 0px auto 20px auto;
}
.ja_prdimg_thumbwrap {
    width: 100%;
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}
.ja_prdimg_hover_wrap {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(251, 216, 167, 0.58);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_prdimg_hover_lnk {
    padding: 10px 15px;
    position: absolute;
    left: 50%;
    color: #ea72a4;
    top: 50%;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-left: -50px;
    margin-top: -14px;
    text-align: center;
    display: block;
    background-color: #fff;
    border: solid 1px #ea72a4;
    font-family: 'Montserrat', sans-serif;
}
.ja_prdimg_thumbwrap:hover .ja_prdimg_hover_wrap {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.ja_prdimg_cart_lnk {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    bottom: 30px;
    opacity: 0;
    left: 50%;
    margin-left: -18px;
    text-align: center;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_prdimg_cart_lnk .icon-cart {
    position: relative;
    top: 9px;
    color: #d36680;
    font-weight: bold;
    font-size: 18px;
}
.ja_prdimg_cart_lnk:hover {
    background-color: #d36680;
}
.ja_prdimg_cart_lnk:hover .icon-cart {
    color: #fff;
}
.ja_prdimg_hover_wrap::after {
    content: '';
    position: absolute;
    width: 0;
    margin-left: -15px;
    bottom: -10px;
    left: 50%;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 9px solid white;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
.ja_prdimg_thumbwrap:hover .ja_prdimg_cart_lnk {
    opacity: 1;
    bottom: 20px;
}
.ja_prdimg_thumbwrap:hover .ja_prdimg_hover_wrap::after {
    bottom: 0px;
}
.ja_new_arriv_jew_sec {
    background: url(../images/nw_arriv_sec_bg.png) repeat;
}
.ja_hm_imgbx_wrapper {
    width: 100%;
    float: left;
    margin-bottom: 40px;
    background-color: #f6f6f6;
}
.no-padding {
    padding: 0px;
}
.ja_hm_tilecaptionwrap {
    position: relative;
    min-height: auto;
    float: left;
    background-color: #fff;
}
.ja_hm_tile_itmInner {
    padding: 0px;
    margin-bottom: 10px;
    background-color: #fff;
}
.ja_hm_tilecaptionwrap .ja_hm_bnr_itm_txt {
    font-size: 18px;
}
.ja_hm_tilecaptionwrap::before {
    display: none;
}
.ja_hm_tile_itmInner .ja_hm_bnr_itm_over_inner {
    padding: 0px 170px;
    margin-top: -50px;
}
.ja_arrow_circle {
    position: absolute;
    right: 18px;
    top: 18px;
    width: 30px;
    height: 30px;
    border: solid 1px #efefef;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.caption_vertical_cntr {
    top: 37px;
    position: relative;
}
.ja_featureslst {
    list-style: none;
    width: 100%;
    float: left;
    text-align: center;
    margin-bottom: 30px;
}
.ja_featureslst li {
    display: inline-block;
    width: 12%;
}
.ja_featureslst li:hover .ja_features_ico {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
}
.ja_featureslst li a {
    display: block;
}
.ja_features_ico {
    width: 90px;
    height: 88px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    background-image: url("../images/sprites-ico.png");
    background-repeat: no-repeat;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ico_trackorder {
    background-position: -7px 0px;
}
.ico_easyreturn {
    background-position: -97px 0px;
}
.ico_onlinecancel {
    background-position: -180px 0px;
}
.ico_freeshiping {
    background-position: -269px 0px;
}
.ico_sevendaysreturn {
    background-position: -369px 0px;
}
.ico_exchange {
    background-position: -456px 0px;
}
.ico_trust {
    background-position: -544px 0px;
}
.ja_features_ico_txt {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #666;
    text-align: center;
    padding: 0px 32px;
    font-weight: 400;
}
.ja_nsltr_lftwrap {
    width: 852px;
    height: 384px;
    z-index: 50;
    background: url("../images/ns_ltr_leftimg.png") no-repeat 0px 0px;
    position: absolute;
    left: 0;
    top: 0;
}
.nsltr_sec_inner {
    min-height: 384px;
    background: url(../images/news_ltr_bg_img.png) no-repeat right center;
    position: relative;
    z-index: 1;
    float: right;
    background-position: 50% 50%;
    background-size: 100%;
    width: 100%;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    -moz-transition: all 0.8s;
}
.nsltr_sec_inner:hover {
    background-position: 50% 50%;
    background-size: 108%;
}
.ja_nsltr_form > h4 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0px;
}
.ja_newsletter_sec {
    position: relative;
}
.ja_nsltr_form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: 140px;
}
.ja_nsltr_form input[type="email"] {
    color: #858585;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 13px;
    width: 260px;
    height: 50px;
    background: #ffffff;
    float: left;
    border: none;
    text-indent: 12px;
    outline: none;
}
.ja_nsltr_form input[type="submit"] {
    width: 120px;
    height: 50px;
    background: #b65b81;
    float: left;
    border: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_nsltr_form input[type="submit"]:hover {
    background-color: #000;
}
.ja_ftr_aboutsec {
    background: url("../images/dot_bg_ptrn.png") repeat;
    min-height: 428px;
    padding: 50px 0px;
    border-bottom: solid 12px #ddd;
}
.ja_ftr_aboutwrapper {
    background-color: #fff;
    padding: 35px;
}
.ja_ftr_abthd {
    display: table;
    margin: 0 auto;
    padding-top: 50px;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}
.ja_ftr_abthd::before {
    content: '';
    background: transparent url(../images/sprites-small.png) -23px -43px;
    width: 38px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -19px;
}
.ja_ftr_abthd_txt {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin-bottom: 10px;
}
.ja_ftr_abthd_txt a {
    color: #d36680;
}
.ja_footer {
    min-height: 409px;
    background: url("../images/ftr_bg.png");
    width: 100%;
    position: relative;
    padding: 45px 0px;
}
.ftr_nav_section {
    width: 100%;
    float: left;
}
.ftr_nav_lst {
    list-style: none;
}
.ftr_nav_lst li a {
    color: #f5efd5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 11px;
    text-transform: uppercase;
}
.ftr_nav_lst li a:hover {
    color: #d7b66f;
}
.ftr_nav_hd {
    font-family: 'Montserrat', sans-serif;
    color: #d7b66f;
    margin-bottom: 35px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.ftr_nav_lstwrapper {
    margin-bottom: 50px;
}
.ftr_social_ico_lst li {
    margin: 0px 5px;
    float: left;
}
.ftr_social_ico_lst li a {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.ftr_social_ico_lst li a:hover {
    background-color: #97154b;
}
.ftr_social_ico_lst li a:hover .ftr_social_ico {
    color: #fff;
}
.ftr_social_listwrap {
    width: 100%;
    float: left;
    padding-left: 110px;
    position: relative;
}
.ftr_social_ico {
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px !important;
    color: #925a6b;
    font-size: 14px !important;
}
.ftr_social_listwrap span {
    position: absolute;
    left: 0;
    top: 3px;
    font-family: 'Montserrat', sans-serif;
    color: #d7b66f;
    font-size: 13px;
    font-weight: 700;
}
.ftr_josealukka_groupimg {
    width: 148px;
    height: 23px;
    background: transparent url(../images/sprites-ico.png) no-repeat -12px -112px;
    display: block;
}
.ftr_res_imgsec {
    padding-left: 240px;
    position: relative;
    width: 100%;
    float: left;
    background-color: #9e727f;
    height: 100%;
    min-height: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.ftr_res_img {
    position: absolute;
    left: -43px;
    top: -100px;
}
.ja_ftr_mobileapp_hd {
    float: left;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-bottom: 15px;
}
.ja_ftr_mobileapp_hd h1 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    display: inline-block;
    color: #fff;
}
.ja_ftr_mobileapp_txt {
    float: left;
    color: #f5efd5;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    margin-bottom: 15px;
}
.ja_mobapp_dwld_lnk {
    width: 100px;
    height: 35px;
    display: block;
    float: left;
}
.ja_mobapp_dwld_lnk.ico_playstore {
    background: transparent url(../images/sprites-ico.png) no-repeat -178px -111px;
}
.ja_mobapp_dwld_lnk.ico_ios {
    background: transparent url(../images/sprites-ico.png) no-repeat -282px -111px;
}
.ja_app_dwnld_lnkwrap {
    float: left;
}
.ja_ftr_payment_optionlist_sec {
    background-color: #fff;
    float: left;
    width: 100%;
    position: relative;
    z-index: 50;
    padding: 12px 0px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.23);
}
.ja_payment_icowrap {
    display: block;
    float: left;
}
.ja_copyright_txt {
    float: right;
    padding: 11px 0px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #555;
}
.ftr_btm_linksec {
    padding: 40px 0px;
    width: 100%;
    float: left;
    background-color: #f5f3eb;
}
.ja_ftr_lnklst {
    list-style: none;
    float: left;
}
.ja_ftr_lnklst li {
    float: left;
}
.ja_ftr_lnklst li a {
    position: relative;
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #777;
    font-size: 12px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_ftr_lnklst li a:hover {
    color: #333;
}
.ja_ftr_lnklst li a::after {
    content: '';
    position: absolute;
    right: 0px;
    top: 2px;
    width: 1px;
    height: 12px;
    background-color: #ddd;
}
.ja_ftr_lnklst li:last-child a::after {
    display: none;
}
.m-b20 {
    margin-bottom: 20px;
}
.m-b60 {
    margin-bottom: 60px;
}
.ja_ftr_lnklstrw {
    margin-bottom: 10px;
    width: 100%;
    float: left;
}
.ja_ftr_lnkhd {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    color: #333;
    text-transform: uppercase;
    padding-right: 10px;
    position: relative;
    margin: 5px 0px;
}
.ja_ftr_lnklst_wrapper {
    width: 100%;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: solid 1px #ddd;
}
.ja_ftr_shopping_contentwrap {
    width: 100%;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #555;
    line-height: 20px;
    margin-bottom: 20px;
}
.ja_ftr_shopping_contentwrap h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}
.Gototop {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #97154b;
    position: fixed;
    right: 30px;
    bottom: 25px;
    border-radius: 50%;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    opacity: 0;
    pointer-events: none;
    z-index: 999;
}
.Gototop.shw:hover {
    cursor: pointer;
    opacity: 1;
}
.Gototop.shw {
    visibility: visible;
    opacity: 0.7;
    pointer-events: auto;
}
.Gototop::before {
    content: "\f102";
    font-family: FontAwesome;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -18px;
    color: #fff;
    margin-left: -9px;
    font-size: 26px;
}
.ja_megnav_viewmrbtn_full {
    width: 100%;
    float: left;
    border: solid 1px #da8094;
    text-align: center;
    padding: 10px 10px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 12px;
    text-transform: uppercase;
}
.ja_subnav_area {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition-delay: 0.3s;
}
.img_thumb_col1 {
    padding-right: 3px;
}
.img_thumb_col2 {
    padding-left: 3px;
}
.ja_hm_banner_slider .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
    pointer-events: none;
    margin-top: -50px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_hm_banner_slider .owl-nav .owl-prev {
    position: absolute;
    left: 10px;
    top: 0;
    pointer-events: auto;
}
.ja_hm_banner_slider .owl-nav .owl-prev .prev {
    color: #fff;
    position: absolute;
    top: 14px;
    left: 19px;
    opacity: 0.8;
}
.ja_hm_banner_slider .owl-nav .owl-next {
    position: absolute;
    right: 10px;
    top: 0;
    pointer-events: auto;
}
.ja_hm_banner_slider .owl-nav .owl-next .next {
    color: #fff;
    position: absolute;
    top: 14px;
    right: 25px;
    opacity: 0.8;
}
.ja_hm_banner_slider .owl-nav .owl-next::before {
    content: '';
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    left: -50px;
}
.ja_hm_banner_slider .owl-nav .owl-prev::after {
    content: '';
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, 0.37);
    position: absolute;
    border-radius: 50%;
    z-index: -1;
}
.ja_hm_banner_slider:hover .owl-nav {
    opacity: 1;
}
.ja_hm_tile_itmInner .ja_hm_bnr_item_img {
    overflow: hidden;
}
.ja_hm_tile_itmInner .ja_hm_bnr_item_img img {
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
.ja_hm_tile_itmInner:hover .ja_hm_bnr_item_img img {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
.ja_hm_gld_rate_wrapper::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-top: 22px solid transparent;
    border-bottom: 0px solid transparent;
    border-left: 22px solid #ba3b71;
}
.ja_nav_lst li.has_sub {
    display: block;
}
.ja_nav_lst li.has_sub:hover .ja_meganav_wrapper {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}
.ja_mega_nav {
    display: block;
    height: 50px;
}
.ja_latest_carr_imgwrap {
    display: table;
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}
#ja_latest_carrosle .carousel-inner .item.active .ja_latest_carr_imgwrap {
    opacity: 1;
    transform: translateX(0px);
}
#ja_latest_carrosle .carousel-inner .item.active .ja_latest_carr_captionwrap {
    opacity: 1;
    transform: translateX(0px);
    transition-delay: 0.3s;
}
.ja_mega_nav:hover {
    cursor: pointer;
}
.ja_nav_sec.fixnav .ja_meganav_wrapper {
    margin-top: auto;
    margin-bottom: -480px;
}
.Ja_live_chatbtn {
    position: fixed;
    width: 40px;
    height: 116px;
    /* background-color: #973c62; */
    
    right: 0px;
    top: 56%;
    z-index: 950;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#813252+0,9b2e72+100 */
    
    background: #813252;
    /* Old browsers */
    
    background: -moz-linear-gradient(left, #813252 0%, #9b2e72 100%);
    /* FF3.6-15 */
    
    background: -webkit-linear-gradient(left, #813252 0%, #9b2e72 100%);
    /* Chrome10-25,Safari5.1-6 */
    
    background: linear-gradient(to right, #813252 0%, #9b2e72 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#813252', endColorstr='#9b2e72', GradientType=1);
    /* IE6-9 */
}
.Ja_live_chatbtn:hover {
    cursor: pointer;
    background-color: #712746;
}
.ja_live_chatbtn_txt {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 12px;
    left: -23px;
    bottom: 50px;
    padding-left: 20px;
    width: 90px;
    text-transform: uppercase;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}
.ja_live_chatbtn_txt::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: #4ac58c;
    position: absolute;
    bottom: 4px;
    left: 0px;
    border-radius: 50%;
}
.ja_hm_bnr_item_inner:hover .ja_bnr_btm_txtwrapper {
    background-color: #fbe0b9;
}
.ja_hm_bnr_item_inner:hover .ja_bnr_btm_txtwrapper::before {
    border-bottom: 8px solid #fbe0b9;
}
.ja_hm_tile_itmInner:hover .ja_bnr_btm_txtwrapper {
    background-color: #fff;
}
.blk_overlaycstm {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 50;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    opacity: 0;
}
.blk_overlaycstm.shw {
    pointer-events: auto;
    opacity: 1;
}
.ja_giftcard_navlst {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_inner_bannersec {
    width: 100%;
    float: left;
    min-height: 145px;
    padding: 40px 0px;
}
.ja_innerbnr {
    width: 100%;
    float: left;
}
.ja_nav_sec_innerpg {
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 900;
    background-color: #fff;
}
.ja_innerbnr_txt {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    color: #fff;
    float: left;
    margin-top: 0px;
}
.ja_innerbnr1 {
    background: url("../images/innerpage_bnr_prdlst.jpg") no-repeat;
}
.ja_brdcrumbs_wrapper {
    float: left;
    clear: left;
    background-color: #fff;
    padding: 0px 15px;
}
.ja_brdcrumbs_wrapper > a {
    float: left;
    padding: 8px 10px;
    color: #585858;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_brdcrumbs_wrapper > a:hover {
    color: #97154b;
}
.ja_brdcrumbs_wrapper > a::after {
    content: '/';
    position: absolute;
    right: 0px;
    top: 8px;
    color: #555;
}
.ja_brdcrumbs_wrapper > a:last-child::after {
    display: none;
}
.ja_filter_wrapper {
    padding: 20px 0px 20px 100px;
    position: relative;
    width: 100%;
    float: left;
}
.filter_by_txt {
    position: absolute;
    left: 0px;
    top: 28px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #555;
    text-transform: uppercase;
}
.ja_filter_drp_lst {
    display: inline-block;
    list-style: none;
    width: 100%;
    float: left;
}
.ja_filter_drp_lst > li {
    width: 25%;
    float: left;
    padding: 0px 5px;
}
.ja_filter_drp_lst > li:last-child {
    padding-right: 0px;
}
.ja_filter_drpdwn {
    background-color: #973c62;
    width: 100%;
    float: left;
    padding: 10px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    position: relative;
}
.ja_filter_drpdwn:hover .ja_filter_sublst_wrapper {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}
.ja_filter_drpdwn::after {
    content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
    top: 9px;
    font-size: 14px;
}
.ico_filter_sec {
    font-size: 14px !important;
    position: relative;
    margin-right: 10px;
}
.ja_nav_sec_innerpg.fixnav {
    bottom: auto;
}
.ja_filter_sublst {
    width: 100%;
    float: left;
    background-color: #fff;
    border: solid 2px #fad9ab;
    min-height: 200px;
    padding: 10px;
}
.ja_filter_sublst li {
    width: 100%;
    float: left;
    margin-bottom: 6px;
}
.ja_filter_sublst_wrapper {
    position: absolute;
    width: 100%;
    top: 100%;
    z-index: 500;
    left: 0px;
    padding-top: 10px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.ja_filter_sublst_wrapper::after {
    position: absolute;
    top: 0;
    left: 50px;
    content: '';
    width: 16px;
    height: 12px;
    background: url("../images/sprites-small.png") no-repeat 0px -59px;
}
/* checkbox */

.checkbox_1 {
    position: absolute;
    opacity: 0;
}
.checkbox_1 + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    font-weight: 300;
}
.checkbox_1 + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background: white;
    border: solid 1px #ddd;
}
.checkbox_1:hover + label:before {
    /* background: #f35429; */
}
.checkbox_1:focus + label:before {
    /* box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); */
}
.checkbox_1:checked + label:before {
    /* background: #ddd; */
    
    border: solid 1px #973c62;
}
.checkbox_1:disabled + label {
    color: #b8b8b8;
    cursor: auto;
}
.checkbox_1:disabled + label:before {
    box-shadow: none;
    background: #ddd;
}
.checkbox_1:checked + label:after {
    content: '';
    position: absolute;
    left: 3px;
    top: 8px;
    background: #973c62;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 #973c62, 4px 0 0 #973c62, 4px -2px 0 #973c62, 4px -4px 0 #973c62, 4px -6px 0 #973c62, 4px -8px 0 #973c62;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* end .squaredFour */

.ja_prdct_listing_inner {
    margin-top: auto;
    padding: 25px;
}
.filter_by_wrapper {
    width: 100%;
    float: left;
}
.filter_by_wrapper .filter_by_txt {
    top: 3px;
    font-size: 12px;
    float: left;
    position: relative;
    margin-right: 15px;
}
.filter_tag {
    float: left;
    padding-right: 20px;
    margin-right: 10px;
    position: relative;
    top: -2px;
    border: solid 1px #ddd;
    padding-left: 6px;
    padding-bottom: 3px;
}
.filter_lnk {
    font-family: 'Montserrat', sans-serif;
    color: #0075be;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
}
.filter_tag_close {
    color: #f98282;
    width: 10px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 7px;
    font-size: 11px !important;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.filter_tag_close:hover {
    color: #555;
    cursor: pointer;
}
.prdlst_viewchangewrapper {
    float: right;
}
.prdview_chng_btn {
    display: block;
    width: 32px;
    height: 32px;
    background-color: #fbd9a9;
    float: left;
    margin-right: 10px;
    border-radius: 50%;
    text-align: center;
    line-height: 32px;
    color: #973c62;
    position: relative;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.prdview_chng_btn::after {
    content: attr(data-tooltip);
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    color: #333;
    white-space: nowrap;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.prdview_chng_btn:hover {
    color: #fff;
    background-color: #973c62;
    cursor: pointer;
}
.prdview_chng_btn:hover::after {
    opacity: 1;
    top: -25px;
    pointer-events: auto;
}
.prdlst_countwrap {
    float: left;
    background-color: #fbd9a9;
    color: #d54766;
    padding: 0px 10px;
    text-align: center;
    border-radius: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    height: 35px;
    line-height: 35px;
    white-space: nowrap;
    position: relative;
    margin-left: 12px;
    top: -2px;
}
.prdlst_countwrap::after {
    content: '';
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 12px solid #fbd9a9;
    position: absolute;
    left: -10px;
}
.sign_modal_bx_leftwrap {
    padding: 5px;
    background: url("../images/login_bx_bg.jpg") no-repeat;
}
.sign_modal_bx_left_inner {
    background-color: rgba(211, 103, 129, 0.4);
    position: relative;
    min-height: 460px;
}
.sign_lft_txtwrapper {
    padding: 40px 40px;
    position: absolute;
    bottom: 20px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.sign_lft_txtwrapper .sign_lfthead {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #d36781;
    font-size: 30px;
    margin-bottom: 6px;
}
.sign_lft_txtwrapper .sign_lfthead span {
    display: block;
    clear: left;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.sign_lft_cont {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #555;
}
.sign_pop_formwrap_inner {
    padding: 20px;
    position: relative;
}
.sign_form_head {
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
}
.sign_input_wrapper {
    background-color: #f9f9f9;
    padding: 5px;
}
.btm_line_txbx {
    float: left;
    width: 100%;
    height: 32px;
    border: solid 1px #ddd;
    border-top: none;
    border-left: none;
    border-right: none;
    font-family: 'Montserrat', sans-serif;
    color: #afafaf;
    line-height: 32px;
    white-space: nowrap;
    font-size: 11px;
    outline: none;
    background-color: transparent;
    text-indent: 10px;
}
.input_row {
    position: relative;
}
.input_row::after {
    content: '';
    width: 0%;
    height: 1px;
    background-color: #d36781;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -moz-transition: all 0.5s;
}
/* .input_row:hover::after{
    width:100%;
} */

.sign_pop_btn {
    width: 100%;
    float: left;
    background-color: #f5ecc5;
    font-size: 11px;
    letter-spacing: 1px;
    height: 35px;
    text-align: center;
    font-weight: 700;
    border: none;
    line-height: 35px;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.sign_pop_btn:hover {
    background-color: #97154b;
    color: #fff;
}
.sign_alrdy_txt {
    float: left;
    color: #333;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
}
.sign_alrdy_txt a {
    color: #d36781;
    padding-left: 10px;
}
.loginwith_social_btn {
    width: 100%;
    height: 35px;
    color: #fff;
    float: left;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    line-height: 35px;
    white-space: nowrap;
    letter-spacing: 1px;
    position: relative;
}
.loginwith_social_btn .fa {
    position: absolute;
    left: 12px;
    top: 10px;
    font-size: 16px !important;
    color: #fff;
}
.sign_clsbnt {
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    right: -11px;
    top: -6px;
    border: solid 2px #fff;
    background-color: #d36781;
    border-radius: 50%;
    z-index: 50;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.sign_clsbnt:hover {
    background-color: #ab295f;
    cursor: pointer;
}
.sign_clsbnt::after {
    content: 'X';
    width: 10px;
    height: 11px;
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    margin-top: -6px;
    margin-left: -5px;
    font-size: 13px;
    pointer-events: none;
    line-height: 11px;
}
.ja_grplgo {
    width: 153px;
    height: 28px;
    position: absolute;
    right: 18px;
    bottom: 95px;
    background: transparent url("../images/sprites-ico.png") no-repeat -10px -110px;
    z-index: 55;
}