.blogShort{ border-bottom:1px solid #ddd !important; }
.add{background: #333 !important;  padding: 10% !important;  height: 300px !important;}

.nav-sidebar { 
    width: 100% !important; 
    padding: 30px 0 !important; 
    border-right: 1px solid #ddd !important; 
}
.nav-sidebar a {
    color: #333 !important; 
    -webkit-transition: all 0.08s linear !important; 
    -moz-transition: all 0.08s linear !important; 
    -o-transition: all 0.08s linear !important; 
    transition: all 0.08s linear !important; 
}
.nav-sidebar .active a { 
    cursor: default !important; 
    background-color: #0b56a8 !important; 
    color: #fff !important; 
}
.nav-sidebar .active a:hover {
    background-color: #E50000 !important;    
}
.nav-sidebar .text-overflow a,
.nav-sidebar .text-overflow .media-body {
    white-space: nowrap !important; 
    overflow: hidden !important; 
    -o-text-overflow: ellipsis !important; 
    text-overflow: ellipsis !important;  
}

.btn-blog {
    color: #ffffff !important; 
    background-color: #E50000 !important; 
    border-color: #E50000 !important; 
    border-radius:0 !important; 
    margin-bottom:10px !important; 
}
.btn-blog:hover,
.btn-blog:focus,
.btn-blog:active,
.btn-blog.active,
.open .dropdown-toggle.btn-blog {
    color: white !important; 
    background-color:#0b56a8 !important; 
    border-color: #0b56a8 !important; 
}
article h2{color:#333333 !important; }
h2{color:#0b56a8 !important; }
 .margin10{margin-bottom:10px; margin-right:10px!important; }
 
 .container .text-style
{
  text-align: justify !important; 
  line-height: 23px !important; 
  margin: 0 13px 0 0 !important; 
  font-size: 19px !important; 
}
